{% extends 'base.html' %}

{% block body %}

    <div class="container mt-3">
        <h1 style="color:orange">Comunidade de Cursos</h1>
        <h2>Interaja com seus colegas e professores</h2>
        <hr>
       {% for post in posts %}
        <div class="row border mt-4 p-3 mypost">
            <div class="col col-3">
                <div class="image pe-2">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format (post.autor.foto_perfil)) }}" class="rounded" width="80"></div>
                <div>
                <b>{{ post.autor.username }}</b>
                <div class="row">
                    <div class="col col-6 mt-2">
                        {% for curso in post.autor.cursos.split(';') %}
                        <button type="button" class="btn btn-success btn-sm mt-2">{{ curso }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
            <div class="col col-9">
                <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}"> <h4>{{ post.titulo }}</h4></a>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}